@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");

@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");

@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

/* Add CSS styles here! */
body {
  background: #c7c5c5;
  font-family: sans-serif;
  font-family: "Permanent Marker"
}

.navLink {
  color:#e9e5da;
  font-size: 30px;
  padding: 0 10px;
  border: 2px solid transparent;
}
.navLink:hover {
  border: 2px solid #e9e5da;
}

.defaultFontColor {
  color: #e9e5da;
}

.homeSectionBackground {
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(30deg, #fea6f2f7 50%, #f8bfec 50%);
}

.toolIcon {
  font-size: 50px;
  padding: 10px;
  border: 2px solid black;
  margin: 10px;
}